
nav {
    .navbar-brand{
    color: #046E1B;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

    .nav-link{
    color: #000;
    font-size: 15x;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

}